/*Welcome Page*/
.welcomePage {
  min-height: 100vh; /*ensure full viewport height*/
  margin: 0;
  padding: 0;
  background: linear-gradient(#4250CE, #DDE0FF);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: JejuMyeongjo;
}

#title {
  color: white;
  font-size: 30px;
}

#username {
  font-size: 20px;
  font-family: JejuMyeongjo;
}

#password {
  font-size: 20px;
  font-family: JejuMyeongjo;
}

#registerBtn {
  font-size: 25px;
  font-family: JejuMyeongjo;
}

#registerLink {
  text-decoration: none;
  color: black;
}

/*Home Page*/
.homePage {
  min-height: 100vh; /*ensure full viewport height*/
  margin: 0;
  padding: 0;
  background: linear-gradient(#4250CE, #DDE0FF);
  font-family: JejuMyeongjo;
}

#titleHome {
  color: white;
  font-size: 30px;
  margin-right: 50px;
  margin-top: 10px;
}

.header {
  display: flex;
}

.cart {
  height: 45px;
  margin-top: 20px;
  margin-right: 10px;
}

.account {
  height: 45px;
  margin-top: 20px;
}

.offer {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SpanishTitle {
  border: 1px solid black;
  background-color: #E7E4E4;
  padding-left: 5px;
  justify-content: center;
}

.FrenchTitle {
  border: 1px solid black;
  background-color: #E7E4E4;
  margin-top: 5vh;
  padding-left: 5px;
}

.BulgarianTitle {
  border: 1px solid black;
  background-color: #E7E4E4;
  margin-top: 5vh;
  padding-left: 5px;
}

.CartBtn {
  display: flex;
  justify-content: right;
}

