table {
    background-blend-mode: color;
    max-width: 400px;
    min-width: 400px;
}


p {
    font-size: 15px;
}

#bandeau {
    margin-left: 15px;
    padding-top: 5px;
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
      
}

h2{
    color: #e67337;
    margin-bottom: -10px;
}

#content {
    padding-left: 25px;
    
}

#logo {
    mix-blend-mode: multiply;

}